extends layout

block content
  script(src="/javascripts/init.js")
  script(type="text/javascript" src="https://d3js.org/d3.v4.min.js")
  div(id="viz" style="height:100vh")
  script(src="/javascripts/hexagon.js")
  script(src="/javascripts/modules/minerva.js")
  script(src="/javascripts/modules/hephaestus.js")
  script(src="/javascripts/modules/hades.js")
  script(src="/javascripts/modules/artemis.js")
  script(src="/javascripts/modules/poseidon.js")
  script(src="/javascripts/main.js")
